nav {
    min-height: 70px;
    height: auto;
    width: 100%;
    position: fixed;
    color: white;
    background: lightblue;
    margin-bottom: 50px;
}

nav li {
    display: inline-block;
    padding: 25px;
    width: 25%
}

ul {
    display: flex;
    align-items: center;
}
